@charset "utf-8";

/* CSS Document */
.zzu-transfer {
	margin-left: 5px;
}

.zzu-text-link {
	margin-right: 5px;
}

.zzu-text-link:link, .zzu-text-link:visited, .zzu-transfer:link,
	.zzu-transfer:visited {
	color: #434343;
}

.zzu-text-link:hover, .zzu-transfer:hover {
	color: #ed272e;
}

.zzu-financing-table .zzu-table-body {
	padding: 0 50px;
	border-bottom: solid 1px #e5e5e5;
	background-color: #fff;
}

.zzu-financing .zzu-tableTitle-bodyMain {
	background-color: #fcfcf4;
	border-bottom: 1px solid #e5e5e5;
}

.zzu-financing-table .zzu-table-body .row{
	margin-bottom: 20px;
}

.zzu-table-body .zzu-evolvebody-right {
    width: 110px;
}
.zzu-evolvetitle-right{
	margin-right: 20px;
}
.row.zzu-tableTitle-headMain.zzu-tableTitle-color {
    margin-bottom: 0px;
}
 .zzu-text-aline-position{
	text-align:right;
}
.zzu-rankOne {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: url("../../images/img/sprite_sub.png") -57px -56px no-repeat;
   margin-left:70px;
    top: 50%;
    margin-top: -4px;
    cursor:pointer;
}
.zzu-rankTwo {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: url("../../images/img/sprite_sub.png") -76px -56px no-repeat;
    margin-left:70px;
    top: 50%;
    margin-top: -4px;
    cursor:pointer;
}

.zzu-pad30{
	padding-left:30px
}
.zzu-mr30{
	margin-right:30px;
}
.zzu-rank-hand{
	cursor: pointer;
}